body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f8ff; /* Color azul celeste */
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evitar desplazamiento horizontal */
}

h1 {
    color: #228b22; /* Color verde bosque */
    text-align: center;
    margin-top: 50px;
    font-size: 36px; /* Tamaño de fuente más grande */
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.button {
    background-color: #ff69b4; /* Color rosa suave */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 25px; /* Bordes más redondeados */
    transition: background-color 0.3s ease, transform 0.3s ease;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 5px 15px rgba(255, 105, 180, 0.3); /* Sombra suave */
}

.button:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300%;
    height: 300%;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transition: all 0.6s ease;
    z-index: 0;
    transform: translate(-50%, -50%);
}

.button:hover:before {
    width: 0;
    height: 0;
}

.button:hover {
    background-color: #ffb6c1; /* Color rosa claro */
    transform: scale(1.1);
    box-shadow: 0 8px 20px rgba(255, 105, 180, 0.6); /* Sombra más pronunciada */
}

.button:active {
    transform: scale(0.95);
}
