body {
    background-color: #f9f9f9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
    margin-top: 50px;
    font-size: 28px;
}

form {
    width: 300px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"],
input[type="submit"],
button#login-button,
a#login-button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc; /* Añade borde a todos los inputs */
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: block;
}

input[type="submit"],
button#login-button,
a#login-button {
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
button#login-button:hover,
a#login-button:hover {
    background-color: #0056b3;
}

/* Agrega margen inferior al botón de login */
button#login-button,
a#login-button {
    margin-bottom: 10px;
}
