<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${param.error}">
    Invalid user and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
    <div><label> User Name : <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>

    <button id="registerButton">Registrarse</button>

    <script>
        // Obtener el botón por su ID
        var registerButton = document.getElementById("registerButton");

        // Agregar un evento de clic al botón
        registerButton.addEventListener("click", function() {
            // Redireccionar a register.html
            window.location.href = "register.html";
        });
    </script>
</form>
</body>
</html>