<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{css/register.css}">
    <script th:src="@{/js/register.js}"></script>
</head>
<body>
<h1>Nuevo usuario</h1>
<form th:action="@{/register}" method="post" id="formregister">
    <input type="text" name="username" id="user" placeholder="Usuario">
    <input type="password" name="password" id="pass" placeholder="Contraseña">
    <input type="password" name="" id="repass" placeholder="Repetir contraseña">
    <input type="submit" value="Registrarse">
    <button onclick="window.location.href='login.html'" id="login-button">Login</button>
</form>

</body>
</html>
