<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Profile</title>
    <link rel="stylesheet" th:href="@{css/note.css}">
</head>
<body>
<div class="profile">
    <div class="profile-header">
        <div>
            <img th:src="@{/img/fotousuario.png}" alt="Foto del usuario" class="profile-picture" width="50" height="50">
            <h1 class="profile-name">Tus notas</h1>
        </div>
        <div>
            <button onclick="addPostIt()" class="add-button">Añadir Post-It</button>
        </div>
    </div>
    <hr>
    <form th:action="@{/user}" method="post">
        <div class="post-it" draggable="true" ondragstart="dragStart(event)"><span
                class="postIt-text">Nueva Nota</span><input name="title" type="text" placeholder="Título" class="postIt-title"><textarea
                placeholder="Contenido" class="postIt-content" name="description"></textarea>
            <button type="submit">Guardar</button>
        </div>
    </form>

    <div id="postItContainer" ondragover="dragOver(event)" ondrop="drop(event)">

    </div>
    <hr>
    <div id="postItViewer" class="postit-container">
        <div th:each="nota : ${listaNotaUser}" class="post-it">
            <div class="datos">
                <h2 th:text="${nota.title}"></h2>
                <p th:text="${nota.description}"></p>
                <button  class="edit-button">Editar</button>
                <form th:action="@{deleteitem}" method="post">
                    <input type="hidden" name="itemId" th:value="${nota.id}">
                    <button type="submit" class="delete-button">Borrar</button>
                </form>
            </div>

            <!-- Formulario de edición -->
            <form th:id="'editForm_' + ${nota.id}" th:action="@{/user/editar}" method="post" class="editar" style="display: none">
                <input type="hidden" name="id" th:value="${nota.id}">
                <input type="text" name="title" th:value="${nota.title}">
                <textarea name="description" th:text="${nota.description}"></textarea>
                <button type="submit">Guardar</button>
                <button type="button" class="cancel-button">Cancelar</button>
            </form>
        </div>
    </div>
    <hr>
</div>
<script th:src="@{/js/note.js}"></script>
</body>
</html>
